

.miTexto{
    font-size: 1.3em;
    margin: 2em;
}
#pruebaUno{
    background-color: blueviolet;
    font-size: 1.5em;
    border-radius: 10%;
}
.pizza{
    width: 300px;
}
.segundoTitulo{
    color: rgb(156, 8, 144);
}
#pruebaBorde{
    border: 2px solid black;
    width: 65vw;
    margin: 2em;
}
#negrita{
    color: black;
}
#header{
    font-size: 1.5em;
    border: 2px solid black;
    width: 80vw;
    margin: auto;
    padding: 2em;
}
.divisiones{
    border: 2px solid black;
    width: fit-content;
    margin: 1em;
    padding: 1em 1em 1em 1em ;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}
.pizza{
    border-radius: 15%;
}
#divisiones-container{
    width: 90vw;
    margin: auto;
    margin-top:1.5em;
    border-radius: 8%;
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
    
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
  }
 .nombrePizza{
    text-align: center;
 }